<section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="text-center text-capitalize">
        <h1>Contact Me</h1></div>
      <div class="col-5"></div>
      <div class="col-1">
        <a mat-button color="accent" href="https://www.linkedin.com/in/louis-de-b405981a4/" > in </a>
      </div>
      <div class="col -1">
        <a mat-icon-button color="primary" href="mailto:louisdewilde2001@gmail.com" class="text-uppercase m-auto">
          <mat-icon>mail </mat-icon>
          louisdewilde2001@gmail
        </a>
      </div>
      <div class="col-5"></div>
    </div>
  </div>
</section>
