<section class="container-fluid mt-5">
  <div class="container mt-5">
      <div class="text-center text-capitalize text-center align-items-center align-content-center">
        <h1 class="mb-2">Contactez Moi</h1>
        <a mat-button color="null" href="https://www.linkedin.com/in/louis-de-b405981a4/" class="accent-text"> in </a>
        <a mat-button color="null" href="mailto:louisdewilde2001@gmail.com" class="text-uppercase m-auto accent-text">
          <mat-icon>mail </mat-icon>
        </a>
      </div>
    </div>
</section>
