@use 'sass:map';
@use '@angular/material' as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@import "src/custom-theme";
$color-config:    mat.m2-get-color-config($portefolio-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');
$is-dark-theme:   map.get($color-config, 'is-dark');


div{
  align-items: center;
  align-content: center;
  text-align: justify;
}

.accent{
  color: #65CF7F;
  font-size: large;
  padding: 0.2vw;
}
.warn{
  color: #B8EA67;
  font-size: large;
  padding: 0.2vw;
}
.center{
  text-align: center;
}
.clickable:hover{
  cursor: pointer;
  background-color: #454444;
}
.clickable:active
{ background-color: #333333; }


.primary-bg{
  background-color: #2F4858;
}
.secondary-bg{
  background-color: #13697B;
}
.thirdary-bg{
  background-color: #008D8F;
}
.fourthiary-bg{
  background-color: #00AF90;
}
.accent-text{
  color: #65CF7F;
}
.warning-text{
  color: #B8EA67;
}


