<div class="container-fluid position-fixed mt-1">
  <div class="nav-justified">
      <div class="text-center align-items-center align-content-center">
        <button class="nav-item accent-text" mat-icon-button color="null" aria-label="homme btn" routerLink="/" *ngIf="router.url != '/'">
          <mat-icon>home</mat-icon>
        </button>

        <a mat-button class="nav-item accent-text" color="accent" routerLink="/" fragment="Cv">
          Mon Cv
        </a>
<!--        <a mat-button class="nav-item accent-text" color="accent" routerLink="/" fragment="portfolio">-->
<!--          Portfolio-->
<!--        </a>-->
        <a mat-button class="nav-item accent-text" color="accent" href="https://github.com/craftbrak">
          GitHub
          <mat-icon>
            git
          </mat-icon>
        </a>
      </div>
    </div>
</div>
