<div class="container-fluid position-fixed mt-1">
  <div class="nav-justified">
      <div class="text-center align-items-center align-content-center" >
        <a mat-button class="nav-item" routerLink="/" fragment="Cv">
          Mon Cv
        </a>
<!--        <a mat-button class="nav-item accent-text" color="accent" routerLink="/" fragment="portfolio">-->
<!--          Portfolio-->
<!--        </a>-->
        <a mat-button class="nav-item "  href="https://github.com/craftbrak">
          GitHub
        </a>
      </div>
    </div>
</div>
