<!-- "Hero" section -->
<section class="primary-bg hero-section">
  <header>
    <img
      src="assets/my_dum_head.jpeg"
      alt="Louis De Wilde"
      class="profile-image"
    />
    <h1>Louis De Wilde</h1>
    <h4>Master en ingénierie logicielle</h4>
  </header>
</section>

<!-- "Qui suis-je ?" section -->
<section id="Cv" class="thirdary-bg info-section">
  <h2>Qui suis-je ?</h2>
  <p>Je suis étudiant en Master informatique à l'UCLouvain.</p>
  <p>
    Passionné par le monde des nouvelles technologies.<br />
    Je suis particulièrement attiré par la XR, l'impression 3D,
    le jeu vidéo et l'OpenSource.
  </p>
  <div class="button-group">

    <a  href="mailto:contact@louisdewilde.be">
      <button mat-raised-button color="pimary">
        <mat-icon>mail </mat-icon>
        contact&#64;louisdewilde.be
      </button>
    </a>
    <a
    target="_blank"
    href="https://github.com/craftbrak/My_Cv/blob/main/out_FR/resume-fr.pdf?raw=true">
    <button mat-raised-button color="accent">
      Mon CV
    </button>
  </a>
    <a  href="mailto:contact@louisdewilde.be">
      <button mat-raised-button color="primary">
        My github
      </button>
    </a>
  </div>
  <h2>Mes Projets</h2>
  <app-category-list></app-category-list>
</section>


<!-- Skill logos -->
<section id="languages" class="accent-text skills-section">
  <h2>Mes compétences Informatiques</h2>
  <div class="logo-grid">
    <img src="assets/Angular_full_color_logo.svg" alt="Angular" />
    <img src="assets/nodejs-seeklogo.com.svg" alt="Node.js" />
    <img src="assets/Typescript_logo_2020.svg" alt="TypeScript" />
    <img src="assets/PHP-logo.svg" alt="PHP" />
    <img src="assets/c-seeklogo.com.svg" alt="C" />
    <img src="assets/Kotlin_Icon.svg" alt="Kotlin" />
    <img src="assets/Java_Logo.svg" alt="Java" />
    <img src="assets/Spring_Framework_Logo_2018.svg" alt="Spring" />
    <img src="assets/Arduino_Logo.svg" alt="Arduino" />
    <img src="assets/Linux_Logo_in_Linux_Libertine_Font.svg" alt="Linux" />
    <img src="assets/docker.svg" alt="Docker" />
    <img src="assets/Fusion_360_Logo.png" alt="Fusion 360" />
    <img src="assets/Python-logo.svg" alt="Python" />
    <img src="assets/rust.svg" alt="Rust" />
    <img src="assets/Git_icon.svg" alt="Git" />
    <img src="assets/openwrt.svg" alt="OpenWRT" />
  </div>
</section>
