<section class="container-fluid jumbotron mb-5 mt-5 primary-bg">
  <div class="container text-center align-items-center align-content-center" >
    <header>

    <img src="assets/my_dum_head.png" alt="Louis De wilde" class="w-25 p-3  align-content-center" style="border-radius: 50%;">
    <h1>Louis De Wilde</h1>
    <p>Bachelier en informatique</p>
  </header>
  </div>

</section>
<section id="Cv" class="container-fluid mb-5 jumbotron thirdary-bg">
  <div class="container text-center align-items-center align-content-center">
    <h2>Qui suis-je ? </h2>
    <p>Je suis étudiant en Bac 3 à l'Ephec Louvain-La-Neuve.</p>
    <p>Passionné par le monde des nouvelles technologies, j'étudie l'informatique afin de créer un monde meilleur.<br>
      Je suis particulièrement attiré par le monde de l'IOT , du jeu vidéo et de l'OpenSource.</p>
    <!-- "https://ephec-my.sharepoint.com/:b:/g/personal/he201769_students_ephec_be/EdpRh6rh1tRKt5BU_bsUBoUBlXXTw6BXIclV3mZUTZNQdw?e=VoHVvZ"-->
    <a mat-raised-button color="#65CF7F" class="primary-bg" href="assets/Louis%20De%20Wilde%20CV.pdf">mon CV</a>
  </div>
</section>

<section id="portfolio" class="mb-5 jumbotron secondary-bg">
  <app-main-table></app-main-table>
</section>
<!--TODO: SAME LANGUAGE FOR EVERITHING -->
<section id="languages" class="container-fluid jumbotron primary-bg">
  <div class="container">
    <div class="row">
      <div class="text-center text-capitalize mb-5">
        <h1>Mes compétences Informatiques</h1>
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/Angular_full_color_logo.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/nodejs-seeklogo.com.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/Typescript_logo_2020.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/PHP-logo.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo " src="assets/c-seeklogo.com.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/Kotlin_Icon.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/Java_Logo.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/Spring_Framework_Logo_2018.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/Arduino_Logo.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/Linux_Logo_in_Linux_Libertine_Font.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/docker.svg" alt="">
      </div>
      <div class="col-3">
        <img class="rounded mx-auto d-block language-logo" src="assets/Fusion_360_Logo.png" alt="">
      </div>
    </div>
  </div>
</section>
