<div class="container  ">
  <h1 class="card-body center mt-5">Mon portfolio</h1>
  <div class="container rounded-3 mb-5">
    <table  class="table table-sm table-responsive " style="background: #444444; color: white; border-radius: 0.5vh">
      <thead >
      <tr>
        <th class="center accent" scope="col">Catégories</th>
        <th class="center accent" scope="col">Temps réel</th>
        <th class="center accent" scope="col">Temps valorisé </th>
        <th class="center accent" scope="col">Détails</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let line of categoryLines" (click)="showDetailsOfCategory(line.category)" class="clickable">
        <th class="center border-secondary" scope="row">{{line.category.category_title}}</th>
        <td class="center border-secondary">{{line.real_time}}</td>
        <td class="center border-secondary">{{line.valued_time}}</td>
        <td class="center border-secondary">
          <button mat-icon-button color="null" class="accent-text" aria-label="Example icon button with a menu icon" (click)="showDetailsOfCategory(line.category)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="border-bottom-0 ">
        <th class="border-bottom-0"></th>
        <th class="center warn border-bottom-0">{{displayedTotals.real_time}}</th>
        <th class="center border-bottom-0">{{displayedTotals.value_time}}</th>
        <th class="border-bottom-0"></th>
      </tr>
      </tfoot>
    </table>
  </div>

</div>
