<!--TODO change  to html bootstrap-->
<table mat-table [dataSource]="categoryLines"  class="mat-elevation-z8">

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDefSafe="let line ; dataSource:categoryLines"><span (click)="showDetailsOfCategory(line.category)">{{line.category.category_title}} </span></td>
  </ng-container>

  <!-- Real time Column -->
  <ng-container matColumnDef="real_time">
    <th mat-header-cell *matHeaderCellDef> Real time </th>
    <td mat-cell *matCellDefSafe="let line ; dataSource:categoryLines"> {{line.real_time}} </td>
  </ng-container>

  <!-- Valued time Column -->
  <ng-container matColumnDef="valued_time" class="mat-accent">
    <th mat-header-cell *matHeaderCellDef> Valued time </th>
    <td mat-cell *matCellDefSafe="let line ; dataSource:categoryLines" > <span (click)="showDetailsOfCategory(line.category)" >{{line.valued_time}}</span> </td>
  </ng-container>

  <ng-container matColumnDef="details" class="mat-accent">
    <th mat-header-cell *matHeaderCellDef> Details</th>
    <td mat-cell *matCellDefSafe="let line; dataSource:categoryLines">
      <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="showDetailsOfCategory(line.category)">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
