:host {
  display: block;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 90vh; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

p {
  text-align: justify;
  margin-bottom: 1.5rem;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;


  img {
    flex: 1 1 calc(50% - 1rem); /* Adjust width for two columns with gap */
    max-width: calc(50% - 1rem); /* Ensure max width for two columns */
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
